.demo-layout-transparent {
    //background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
    background: #6c6159 url('shttp://eskipaper.com/images/blur-background-1.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

.mdl-layout__content{

    height:100vh;
}

.mdl-textfield__input{
    padding:0 !important;
}


.part{
    position: absolute;
    height:100vh;
    width:100%;
    opacity:0.3;
}

.mdl-textfield__label{
    color: #fff !important;
    //background: #fff;

}

.mdl-textfield__input, mdl-textfield__label{
    border-color: #fff !important;
    color: #fff;
}

.mdl-layout__content{
    //display: flex;
}

header{
    background: rgba(255,255,255,0.2);
}

form.query {
    //margin: auto;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-direction: column;
    //border:1px solid #fff;
    //min-height:100px;
    //min-width:100%;
    //padding:40px 80px;
    padding: 0 15px;
    background: rgba(255,255,255,0.15);
    border-radius: 120px;
    //border:1px solid #fff;
}

form.addProject {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
//flex-direction: column;
//border:1px solid #fff;
    //min-height:100px;
    min-width:100%;
    padding:10px 0px;
    //background: rgba(255,255,255,0.2);
    //position: fixed;
    //bottom:0;

}

form.addProject .mdl-textfield__input{
    font-size: 20px !important;
}


table{
    margin: 10px;
}

.contain{
    display: none;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    //margin: 50px 10%;
    //width: 100vh;
}


.mdl-card{
    margin: 10px;
    //padding: 10px;
}

.m-card{
    margin: 0 10px;
    //padding: 10px;
}

.mdl-card__supporting-text{
    text-indent: 10px;
}

.demo-card-wide.mdl-card {
    width: 100%;
    //padding:5px;
    //margin: 20px 0;
    //border: 4px solid deeppink;
    //border-radius: 0 20px;
    //box-shadow: none !important;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    //height: 176px;
    //background: url('http://uxmentors.co.uk/assets/pictures/background-conference-1.jpg') center center / cover;
    background: rgba(0,0,0,0.1);
    background: darkslategrey;
    border-bottom: 3px solid deeppink;

}

.mdl-card__title h2{
    //border-left: 4px solid #fff;
    padding:0 10px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.preload {
    width:100vh;
    height: 100vh;
    position: fixed;

    z-index: 999;
    background: #fff !important;
}

.remove {
    display: none;
}

.info{

    //background-color: #3a3a3a!important;
    //background: url('http://uxmentors.co.uk/assets/pictures/background-conference-1.jpg') center center / cover !important;
   //height:100%;

}

.mdl-card__title  {
    background: #3a3a3a;
    color: #fff;
}

.contain button{
    position: absolute;
    top: -15px;
    right: -15px;
}

.mdl-card{
    overflow: visible !important;
    min-height: 200px;
}

.n{
    right: 115px! important;
}

.contain .title_logo {
    position: relative;
    left : -22px;
    font-size: 1.5em;
    color: deeppink;
}

.material-icons{
    color: #fff;
}
